@model IEnumerable<MVCProject.Models.Advisory>

@{
    ViewBag.Title = "Advisory";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h1>@ViewBag.Message</h1>
            </hgroup>

            <p>
                <a href="~/Home/"> Home </a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>
                <a href="~/Contact/Create"> Contact Us</a>


            </p>
        </div>
    </section>
}

<h2>Advisory</h2>
<table>
    <tr align="center">
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@item.Picture" alt="item.Name" width="75" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
    }

</table>