@model IEnumerable<MVCProject.Models.Courses>

@{
    ViewBag.Title = "Courses";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
            </hgroup>

            <p>
                <a href="~/Home/"> Home </a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
<<<<<<< HEAD
                <a href="~/Contact/Create"> Contact Us</a>
=======
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>      
                <a href="~/Home/Contact"> Contact Us</a>
>>>>>>> origin/master

            </p>
        </div>
    </section>
}



<h2>@ViewBag.Message</h2>
<table>
    <tr>
        <th>
            Course @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Credit Hours
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.CreditHours)
            </td>

        </tr>
    }

</table>