@model IEnumerable<MVCProject.Models.Faculty>

@{
    ViewBag.Title = "Faculty";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
                <h1>@ViewBag.Message</h1>
            </hgroup>

            <p>
                <a href="~/Home/"> Home </a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>
                <a href="~/Contact/Create"> Contact Us</a>        
               

            </p>
        </div>
    </section>
}



    <h2>Faculty</h2>
    @*create the title for the faculty table*@
    <table>
        <tr align="center">
            <th>
                @*grab the picture title from the model*@
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @*grab the name title from the model*@
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @*grab the email title from the model*@
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @*grab the office title from the model*@
                @Html.DisplayNameFor(model => model.Office)
            </th>
        </tr>

        @*for each faculty member in the faculty model, add them to the faculty table*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*grab the picture from the model*@
                    <img src="@item.Picture" alt="item.Name" width="75" />
                </td>
                <td>
                    @*grab the name from the model*@
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @*grab the email from the model*@
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @*grab the office from the model*@
                    @Html.DisplayFor(modelItem => item.Office)
                </td>
            </tr>
        }

    </table>
