@model MVCProject.Models.Contact

@{
    ViewBag.Title = "Enter Contact Information";
}
<!--This is the menu bar-->
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                @*<h1>@ViewBag.Title.</h1>*@
            </hgroup>

            <p>
                <a href="~/Home/"> Home </a>
                <a href="~/Home/Courses"> Undergraduate Courses</a>
                <a href="~/Home/Courses/G"> Graduate Courses</a>
                <a href="~/Home/Faculty"> Faculty </a>
                <a href="~/Home/Advisory"> Advisory Board</a>
                <a href="~/Contact/Create"> Contact Us</a>

            </p>
        </div>
    </section>
}

<h2>Enter Contact Information</h2>
<!--Here is where the form begins. It requires data validation-->
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <!--Here is the drop down box for selecting your degree-->

        <div class="editor-label">
            @Html.Label("Degree Type")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model=>model.Degree_Type.Type, ViewBag.Types as SelectList)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Notes)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Notes)
            @Html.ValidationMessageFor(model => model.Notes)
        </div>

        <p>
            <input type="submit" value="Send"  />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
